<div class="empty">

</div>

<div class="male  container"> 
      <h5> <p>Things to know for males
            To reduce the accidents one should be aware that if you are at age of 26-39yrs 
            should be a carefull driver.</p>
            <p>also you need to be more carefull or try to avoid driving on sundays especially.</p> </h5> 

        <img class="img-responsive zoom" src="assets/images/3.png"> 

       <h5><P>By the above observation we can get that most of accidents has been casued by males aged from 26-39yrs.</P>
       </h5> 
        <img class="img-responsive" src="assets/images/5.png">
        <h5><P>most of the incidents are caused on sunday followed by monday 
        and the least number of accidents are recorded on wednesday.
        </P>
        </h5>
</div>

<section class="project-details-section">
      <div class="male container">
  
          <div class="row justify-content-between">
              <div class="col-md-12 col-lg-8">
                  <div class="img-wrap mb-md-4 mb-lg-0">
  
                  </div>
              </div>
          </div>
          <!--project details row start-->
          <div class="male container">
  
              <div id="graph1" style=""></div>
          </div>
          <div class="row mt-5">
              <div class="col-md-12">
                  <div class="project-details-content text-justify">
  
                      <p>
                          The above graph shows the average price variation of houses in Melbourne through the years 2016-2020.  
                      <li>We can observe that there is slight decrease in the average price of the year in the beginning in the year 2016 and it increased gradually throughout the year and ended at a higher value.  </li> 
                      <li>During the year 2017, we can observe that there is gradual increase at the beginning of the year with a sudden drop in the month of July. It starts to increase gradually and ends at a similar to the starting value. </li>
                      <li>During the year 2018, we can observe that the trend is not uniform and has ups and downs throughout the year. It starts to increase gradually but ends at a lesser value than what it began.  </li>
                      <li>The trend in the year 2019 is almost uniform ends at a slightly higher value than how it began. </li>
                      <li>The trend in the year 2020 started out well with rapid increase of price in the month of February. It gradually decreased and is now on a value similar to the value in the beginning of the year. </li>
                          
                      </p>
                  </div>
              </div>
          </div>
  
      </div>
  </section>

  <!--jQuery-->
<script src="../js/jquery-3.4.1.min.js"></script>
<!--Popper js-->
<script src="../js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="../js/bootstrap.min.js"></script>
<!--Magnific popup js-->
<script src="../js/jquery.magnific-popup.min.js"></script>
<!--jquery easing js-->
<script src="../js/jquery.easing.min.js"></script>
<!--jquery ytplayer js-->
<script src="../js/jquery.mb.YTPlayer.min.js"></script>
<!--Isotope filter js-->
<script src="../js/mixitup.min.js"></script>
<!--wow js-->
<script src="../js/wow.min.js"></script>
<!--owl carousel js-->
<script src="../js/owl.carousel.min.js"></script>
<!--countdown js-->
<script src="../js/jquery.countdown.min.js"></script>
<!--custom js-->
<script src="../js/scripts.js"></script>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="../js/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="../js/tableau.js"></script>
<script>
    initViz('graph1', 'https://public.tableau.com/shared/R2TRZKPFX?:display_count=y&:origin=viz_share_link')
 </script>