
<section class="project-details-section">
      <div class="male container">
  
          <div class="row justify-content-between">
              <div class="col-md-12 col-lg-8">
                  <div class="img-wrap mb-md-4 mb-lg-0">
  
                  </div>
              </div>
          </div>
          <!--project details row start-->
          <div class="male container">
  
              <div id="graph1" style=""></div>
          </div>
          <div class="row mt-5">
              <div class="col-md-12">
                  <div class="project-details-content text-justify">
  
                      <p>
                      </p>
                  </div>
              </div>
          </div>
  
      </div>
  </section>

  <!--jQuery-->
<script src="../js/jquery-3.4.1.min.js"></script>
<!--Popper js-->
<script src="../js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="../js/bootstrap.min.js"></script>
<!--Magnific popup js-->
<script src="../js/jquery.magnific-popup.min.js"></script>
<!--jquery easing js-->
<script src="../js/jquery.easing.min.js"></script>
<!--jquery ytplayer js-->
<script src="../js/jquery.mb.YTPlayer.min.js"></script>
<!--Isotope filter js-->
<script src="../js/mixitup.min.js"></script>
<!--wow js-->
<script src="../js/wow.min.js"></script>
<!--owl carousel js-->
<script src="../js/owl.carousel.min.js"></script>
<!--countdown js-->
<script src="../js/jquery.countdown.min.js"></script>
<!--custom js-->
<script src="../js/scripts.js"></script>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="../js/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="../js/tableau.js"></script>
<script>
    initViz('graph1', 'https://public.tableau.com/shared/R2TRZKPFX?:display_count=y&:origin=viz_share_link')
 </script>