<section class="home">
  
<div id="mydiv">
  <h6 style="text-align: left;"> 
        <h4 class="text-center">{{location}}</h4>
    <p > Temparature : {{weather[0].main.temp}} C</p>
    <p > Feels Like : {{weather[0].main.feels_like}} </p>
    <p> Minimum : {{weather[0].main.temp_min}} </p>
    <p > maximum : {{weather[0].main.temp_max}} </p>
   </h6>

</div>
</section>
<div style="height: 1000px">
  <p class="myP">
    Ambulance Victoria (AV) aims to improve the health of the community by providing high quality 
    pre-hospital care and medical transport. AV provides emergency medical response to more than 5.8 
    million people in an area of more than 227,000 square kilometres.
  </p>
</div>

